<h1>
  <%= @auction_item.name %>
</h1>

<div class="error">
  <% if @errors.present? %>
    <% @errors.each do |error| %>
      <div><%= error %></div>
    <% end %>
  <% end %>
</div>



<div>
    <%= image_tag(@auction_item.image) %>
</div>


<div>Item Name: <%= @auction_item.name %></div>
<div>Current Bid: <%= @auction_item.highest_bid.points unless @auction_item.highest_bid.nil? %></div>
<div>Highest Bidder: <%= @auction_item.highest_bid.user.email unless @auction_item.highest_bid.nil? %></div>
<div>
  <%= form_for(@auction_item, :url => place_bid_path(@auction_item)) do |f| %>
    <%= f.number_field :highest_bid, class: 'form-control' %>
    <%= f.submit "Bid", class: "btn btn-primary" %>
  <% end %>
</div>
