<h1>Auction Items</h1>

<div class="wrapper">
  <% @auction_items.each do |item| %>

    <div class="item">
      <div><%= image_tag(item.image) %></div>
      <div>item name: <%= item.name %></div>
      <div>highest bidder: <%= item.highest_bid.user.email unless item.highest_bid.nil? %></div>
      <div>current bid points: <%= item.highest_bid.points unless item.highest_bid.nil? %></div>
      <%= link_to "Bid", "auction_items/#{item.id}", class: "btn-success btn" %>
    </div>
  <% end %>
</div>
